@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Rajdhani&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 900;
    color: #000;
}

/* ! BACKGROUND */
.banner{
    overflow-x: hidden;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat ;
    background-image: radial-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 1)),url('./Images/resources_bg3.jpg');


}

/* ! NAVIGATION BAR */
header{
    position:sticky;
    top:0px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #293452;
    box-shadow: 1px 1px 30px #00000062;
}
.logo img{
    cursor:pointer;
}
.nav_links{
    list-style: none;
    display: inline-block;
}
.nav_links li{
    display: inline-block;
    padding: 0 60px;
}
.nav_links li a{
    color: #fff;
    text-decoration: none;
}
.nav_links button{
    color: #1b1c17;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    /* box-shadow: 1px 1px 15px #38393682; */
    transition: 0.5s;
}
.nav_links button:hover{
    background-color: #ffd025;
}
.nav_links button:active{
    opacity:0.8;
}

/* ! SEARCH BAR */
.search{
    text-align: center;
}
.search h1, p {
    text-align: center;
    margin-top: 2rem;
}
  
.search_box {
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;

    width: 80px;
    margin: 0 auto;
    padding: 2px 2px;

    background-color: rgba(255, 255, 255,.2);
    border-radius: 80px;
    backdrop-filter: blur(3px);

    transition: 0.8s;
}
.search_box:hover{
    width: 800px;
    background-color: rgba(255, 255, 255);
}

.search_box img{
    position: relative;
    right:15px;
    transition: 0.8s;
}


.input{
    position: relative;
    left: 22px;
    color: #fff;
    outline: none;
    font-size: 0;
    cursor: pointer;
    z-index: 99;
    border: none;
    height:80px;
    width:100px;
    transition: 1s;
    background-color: transparent;
}
.input:hover{
    color: #293452;
    font-size: 20px;
    width:800px;
}
:placeholder{
    font-size: 0px;
    transition: 0.5s;
}
:placeholder:hover{
    font-size: 20px;
}

.search h1{
    color: #ffffff;
    padding: 20px 20px;
    font-size: 25px;
    text-shadow: 1px 1px 8px #2f2f2f;
}
/* ! APP BUTTONS */
.apps button{
    background-color: transparent;
    border:none;
    border-radius: 60px;
    padding: 1rem 5rem;
    margin: 50px;
    align-items: center;
    justify-content: center;
    display: inline-block;
    transition: .5s;
    
}
.apps button:hover{
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(3px);

}
.apps img{
    height: 5rem;
    transition: 0.3s;
}
.apps img:hover{
    height: 5.2rem;
}

